@import "tailwindcss";

:root {
  --background: #080808;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
